
h1 h2 h3 {
	font-family:"Georgia", Times, Times New Roman, serif;
}

h2 {
	font-size:24px;
	margin-left: 30px;
	margin-top:10px;
	color:#4aaaac;
}

.sizing {
max-width: 960px;
margin: 0 auto;
}

p {
color: #777;
}

/*
.list {
border-right: 1px solid #ddd;}
*/


body {
	background: url(../images/whirlpool.png);
	font-family: "Arial", Hevletica Neue, Helvetica, sans-serif;

}
.full {
	background-color: #fff;
	overflow: hidden;
	width: 100%;
	border-bottom: 2px solid #ccc;
}
.topnav {
	background-color: #fff;
	overflow: hidden;
	width: 100%;
}

.topnav a {
	float:right;
    display: block;
    color: #D1D1D1;
    text-align: center;
    padding: 35px  5px;
    text-decoration: none;
    font-size: 15px;
	margin-right: 20px;
}
header {
	background-color:#fff;
	position: relative;

	
}
.namecard {
	position:absolute;
}

#TheTopNav {
	float: left;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
	background-color: #4aaaa5;
	position:absolute;
	bottom:0px;
	left:30px;
	padding:35px;
}

.container {
width: 960px;
}

   .maincontent {
        background-color: #FFFFFF;
        float: left;
        max-width:650px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom:30px;
    }

 .maincontent ul {
        list-style: none;
    }
    .maincontent ul li {
        float: left;
        margin: 5px;
        width: 200px;
        position: relative;
    }
    .maincontent ul li img { 
        width: 100%;
        height: auto;

    }
    .maincontent ul li span {
    position:absolute;
    bottom:20px;
    left:0px;
    width: 100%;
    text-align: center;
    background: #4aaaac;
    }

.maincontent p{
	margin:20px 20px 30px 30px;

}
	
.ProfilePhoto {
	margin:20px 20px 10px 30px ;
	width:20%;
	float:left;
}
.aside p {
	margin-top: 20px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.aside {
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	float: left;
	max-width:270px;
	display: block;
	margin-top: 50px;
	
}
.aside h3 {
	font-size: 20px;
	margin: 0px 0 0 30px;
	border-bottom: 3px solid #ddd;
	margin-right: 25px;
	padding:20px 0;
	color:#4aaaa5;
	text-align: center;
	}
	
.icon {
	width:60px;
	display:inline-block;
	padding:px;
	margin: 10px;
}

footer {
clear:both;
text-align: center;
padding:50px;
background:#666;
color:#fff;
border-top:10px solid #4aaaa5;
position:sticky;
bottom:0;
left:0;
right:0;

}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
	color:#ddd;
}


input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
	color:#777;
}
input[type=submit] {
    background-color: #4aaaac;
    color: #ddd;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1E4B4B;

}
#submit {
font-size: 20px;
width:150px;
}

.basicform {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;margin-bottom: 00px;
	color: #777;
}
/*
#wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 5%;	
}
*/
img {
height:"";
width:40%;
float: left;
display: inline-block;
position:relative;
margin-right:2px;
margin: 0 auto;
margin:30px;
border:1px solid #ddd;
}

 
.gallery {
position:relative;
 }
.gallery span {
position:absolute;
bottom:20px;
left:0px;
background: #4aaaac;
}
 
 
/*
gallery li {
float: right;
margin: 2.5%;
background-color: #fff;
color:#fff;
}
*/

/*
#gallery p{
	margin: 0;
	padding: 5%;
	font-size: 1em;
	color: #fff;
	position:absolute;
	bottom:0px;
}
*/

.image {
	position:relative;
	width: 300px;
	float:left;
	display:inline-block;
	margin: 10px;
	border: 1px solid #ddd;
}


.h2 {
position:absolute;
bottom:32px;
left:0;
color:#fff;
font-size:20px;

}


.banner {
background: #4aaaac;
width:100%;
position:absolute;
bottom: 10px;
left:0;
z-index: 1000000;
}
