@charset "UTF-8";
/* CSS Document */

/*Global Adjustments*/

		 html,
			  body {
				height: 100%;
				background: url(../images/whirlpool.png);
				font-family: "Arial", Hevletica Neue, Helvetica, sans-serif;
			  }

				h2, h3 {
					font-family:"Georgia", Times, Times New Roman, serif;
					color:#4aaaac;
				}
					h1 {
					font-family:"Georgia", Times, Times New Roman, serif;
					color:#fff;
				}
/*Navbar*/

	
		
	.nav {
	background-color: #fff;
				border-bottom: 2px solid #ccc
	}
	
	.navbar-brand {
	background-color: #4aaaac;
	min-width:200px;
	text-align: center;
	
	}
	
/*	Main Content */

.panel-title {
 color: #4aaaac;
 text-align:center;
}

.mainContent {
background: #fff;
}
.authImg {
float:left;
padding: 10px 2px 2px 0;
}
.panel-default>.panel-heading {
    background-color: #fff;
	text-align: center;
	}
	
	.glyphicon {
	height:"";
	width:7vh;
	display: inline-block;
	margin-left:50%;
	margin-right:50%;
	}
  
	/* FOOTER*/
		  #wrap {
			min-height: 100%;
			height: auto !important;
			height: 100%;
			/* Negative indent footer by it's height */
			margin: 0 auto -80px;
		  }


		  #push,
		  #footer {
			height: 80px;
		  }
		  #footer {
			background-color: #666;
			text-align: center;
			color:#fff;
			border-top:10px solid #4aaaa5;
		  }
		  #footer p{
		  margin-top: 2%;


		  
	


}
       
@media screen and (max-width: 768px) and (min-width:639px) {
       
	  
		
		#footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
	

	  
}