
body {
background: url("assets/imgs/Cinema.jpg")no-repeat center center fixed;
background-size: cover;
text-align:center;
}

#userInput {
  margin-top: 100px;
}

#header {
  font-size: 100px;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

.gif {
  border: #000 solid 2px;

}

.gifContainer {
    margin:5px;
  display: inline-grid;
}
.searchButtons {
  margin: 3px 5px;
}

.gifRating {
  color: #000;
  font-size: 17px;
}

.gif:hover {
  cursor: pointer;
  border: #f1c40f solid 2.5px;
}
    .jumbotron:hover{  
    opacity: 0.5;
    filter: alpha(opacity=50);
    }
    
#searchButtonsContainer {
 margin-top: 10%;  
    }
#header {
     font-size:50px;
    padding:20px;
}

.boldNBeautiful {
    font-size: 100px;
    color:white;
}

.white {
    color:white;
}